@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('./images/pexels-tima-miroshnichenko-7991489.jpg');
    background-position: center center;
    background-size:cover;
}

header {
    padding: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logo {
    color:#D4AF37;
    display: flex;
    align-items: baseline;
    justify-content: stretch;
    font-size: 2rem;
    margin: 1rem;
    min-width: 100px;
}

.logo:hover {
    cursor: pointer;
}

.logo-name {
    font-family: 'Poppins', sans-serif;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-size: 2.9rem;
    align-self: stretch;
}

form {
    position: relative;
}

.search-input, .search-button {
    padding: 0.5rem;
    height:30px;
}

.search-input::placeholder {
    font-style:italic;
}

.search-input:active {
    border: none;
}

.search-button {
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #D4AF37;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    background-color: black;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 250px;
    transition: all 0.5s linear;
}

.movie-card:hover {
    width: 300px;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(212,175,55,0.3);
    cursor: pointer;
    font-size: 1.1rem;
}

.movie-card img{
    width: 100%;
}

.movie-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.5rem;
}


.movie-info span {
    font-weight: bolder;
    font-size: 1.3rem;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: #945D41;
}

.bad {
    color: red;
}

@media (max-width: 800px) {
    header {
        align-items: center;
        justify-content: center;
    }
    .logo-name {
        display: none;
    }
}